<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}idiotic{% endblock %}</title>
    <!-- Google Fonts for Icons -->
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize Stylesheet -->
    <link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css"
      type="text/css">

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Materialize JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{ root }}main.js"></script>
  </head>
  <body ng-app="idiotic" ng-controller="idioticController as idiotic">
    <header>
      <nav class="top-nav pink lighten-1">
        <div class="container">
          <div class="nav-wrapper">
            <a href="#" class="brand-logo">{{ title }}</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              {% if url != base %}<li><a href="../">Up</a></li>{% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
    {% block main %}
    {% endblock main %}
    </main>
    <footer class="page-footer pink lighten-3">
      {% block footer %}
      {% raw %}
      <div class="container">
        <div class="row">
          <div class="col s12 l8">
            &nbsp;
          </div>
          <div class="col s12 l4">
            <div class="row">
              <div class="col s8">
                Idiotic Version
              </div>
               <div class="col s4">
                 {{idiotic.conf.version}}
               </div>
              <div class="col s8">
                Idiotic-WebUI Version
              </div>
               <div class="col s4">
                 {{idiotic.conf.webui_version}}
               </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        &nbsp;
      </div>
      {% endraw %}
      {% endblock %}
    </footer>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
