{% extends 'base.html' %}

{% block main %}
{# Jinja2 raw so Angular templates can be processed. #}
{% raw %}

<div class="container">
  <div id="page-top" class="row">
    <div class="col s12 l10">
      <div ng-repeat="section in idiotic.sections"
           class="row">
        <h2 id="{{slug(section.title)}}"
            class="s12"
            scrollspy>
          {{section.title}}
        </h2>
        <ul class="collapsible popout" data-collapsible="expandable" collapsible>
          <li ng-repeat="item in section.items() track by item.id">
            <div class="item collapsible-header row lighten-5"
                 ng-class="{cyan: item.is_active()}"
                 style="margin-bottom: 0;">
              <i class="material-icons col s1">
                {{item.is_active() ? "label" : "label_outline"}}
              </i>
              <div class="col s9">
                <div class="left truncate">
                  {{item.name}}
                </div>
                <b class="right truncate hide-on-small-only"
                   ng-if="item.show_display()">
                  {{item.display}}
                </b>
              </div>
              <div class="col s1"
                   ng-click="item.default_action(); $event.stopPropagation();">
                <i class="material-icons tooltipped"
                   data-position="bottom"
                   data-delay="300"
                   data-tooltip="Trigger default action"
                   tooltipped>
                  send
                </i>
              </div>
            </div>
            <div class="collapsible-body">
              <div ng-if="item.show_actions()">
                <div class="row" style="margin-bottom: 0;">
                  <a ng-repeat="button in item.buttons"
                     class="center-align btn-flat col s6 l4"
                     ng-disabled="item.disabled()"
                     ng-click="item.send_command(button)"
                     style="padding: 0 5px 0 5px;">
                    {{button.name}}
                  </a>
                </div>
                <div class="divider"></div>
              </div>

              <div ng-if="item.enable_graph()">
                <a href="graph/{{item.id}}.svg">
                  <img ng-src="graph/{{item.id}}.svg"
                       class="responsive-img"
                       >
                </a>
              </div>
              <div class="" ng-switch="item.type">
                <input ng-switch-when="Text"
                       id="item_{{item.id}}_text"
                       type="text"
                       class="right"
                       ng-disabled="item.disabled"
                       ng-model="item.state"
                       />
                <div ng-switch-when="Number">
                  <input type="number"
                         class="right"
                         ng-if="!item.readonly"
                         ng-required="true"
                         ng-disabled="item.disabled()"
                         ng-model="item.state"
                         ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500,
                         'blur': 0 } }"
                         ng-change="item.send_state()"
                         />
                </div>
                <div ng-switch-when="Scene" class="switch right">
                  <label>
                    Exit
                    <input type="checkbox"
                           ng-model="item.state"
                           ng-click="item.send_activity()"
                           />
                    <span class="lever"></span>
                    Enter
                  </label>
                </div>
              </div>
              <div class="">
                <div ng-if="item.show_disable()">
                  <input type="checkbox"
                         id="disable_{{item.id}}"
                         class="filled-in"
                         ng-model="item.disabled"
                         ng-model-options="{ getterSetter: true }"
                         ng-change="item.send_disable()"
                         />
                  <label for="disable_{{item.id}}">Disable</label>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col hide-on-med-and-down l2">
      <div id="toc">
        <h5>Sections</h5>
        <ul class="section table-of-contents" style="white-space: nowrap;">
          <li ng-repeat="section in idiotic.sections">
            <a href="#{{slug(section.title)}}">{{section.title}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endraw %}
{% endblock %}

{% block scripts %}
<script>
$(function() {
  $("#toc").pushpin({offset: $("#page-top").offset().top });
});
</script>
{% endblock %}
