{% extends 'base.html' %}

{% block main %}
{# Jinja2 raw so Angular templates can be processed. #}
{% raw %}

<div class="container">
  <div id="page-top" class="row">
    <div class="col m12 l10">
      <div ng-repeat="section in idiotic.sections"
           class="row">
        <h2 id="{{slug(section.title)}}" scrollspy>{{section.title}}</h2>
        <div ng-repeat="item in section.items() track by item.id"
             class="col s12 m6 l4" style="padding: 0px 5px;">
          <div id="item_{{item.id}}"
               class="item card lighten-5"
               ng-class="{green: item.state}"
               ng-click="item.default_action()">
            <div class="card-content">
              <div class="card-title">
                {{item.name}}
              </div>
              <div class="">
                <a class="graph_link" href="graph/{{item.id}}.svg"
                                      ng-if="item.enable_graph()">
                  <i class="material-icons hoverable black-text">insert_chart</i>
                </a>
              </div>
              <div class="" ng-switch="item.type">
                <input ng-switch-when="Text"
                       id="item_{{item.id}}_text"
                       type="text"
                       class="command"
                       ng-disabled="item.disabled"
                       ng-model="item.state"
                       />
                <div ng-switch-when="Number">
                  <input type="number"
                         id="item_{{item.id}}_number"
                         class="command"
                         ng-required="true"
                         ng-disabled="item.disabled()"
                         ng-model="item.state"
                         ng-model-options="{ updateOn: 'default blur', debounce: { 'default': 500,
                         'blur': 0 } }"
                         ng-change="item.send_state()"
                         />
                </div>
                <div ng-switch-when="Scene" class="switch">
                  <label>
                    Exit
                    <input type="checkbox"
                           ng-model="item.state"
                           ng-click="item.send_activity()"
                           />
                    <span class="lever"></span>
                    Enter
                  </label>
                </div>
              </div>
              <div class="">
                <div ng-if="item.show_disable()">
                  <input type="checkbox"
                         id="disable_{{item.id}}"
                         class="filled-in"
                         ng-model="item.disabled"
                         ng-model-options="{ getterSetter: true }"
                         ng-change="item.send_disable()"
                         />
                  <label for="disable_{{item.id}}">Disable</label>
                </div>
              </div>
            </div>
            <div class="card-action" ng-if="item.commands.length > 0">
              <a ng-if="item.commands"
                 ng-repeat="command in item.commands.sort()"
                 id="item_{{item.id}}_command_{{command.name}}"
                 type="button"
                 class="command btn-flat waves-effect waves-pink"
                 ng-disabled="item.disabled()"
                 ng-click="item.send_command(command)"
                 style="margin: 0px 2px;">
                {{command.name}}
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col hide-on-med-and-down l2">
      <div id="toc">
        <h5>Sections</h5>
        <ul class="section table-of-contents" style="white-space: nowrap;">
          <li ng-repeat="section in idiotic.sections">
            <a href="#{{slug(section.title)}}">{{section.title}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endraw %}
{% endblock %}

{% block scripts %}
<script>
$(function() {
  $("#toc").pushpin({top: $("#page-top").offset().top });
});
</script>
{% endblock %}
